.thin-cross {
  position: absolute;
  inset: 0; /* Ensure it covers the entire container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.thin-cross::before,
.thin-cross::after {
  content: "";
  position: absolute;
  width: 1px; /* Adjust the thickness */
  height: 100%;
  background-color: red;
}

.thin-cross::before {
  transform: rotate(45deg);
}

.thin-cross::after {
  transform: rotate(-45deg);
}

.thin-cross.blue::before,
.thin-cross.blue::after {
  background-color: blue; /* Color for blue cross */
}

.horizontal-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px; /* Adjust the thickness */
  background-color: blue;
}

.horizontal-line-red {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px; /* Adjust the thickness */
  background-color: red;
}

.top-line {
  top: 40%; /* Adjust the position */
}

.bottom-line {
  bottom: 35%; /* Adjust the position */
}

.circle {
  position: relative;
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
  border: 2px solid red; /* Red circle */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
